<footer class="bg-body border-top py-3 mt-auto">
	<div class="container">
		<p class="mb-0">
			Ce site a été fait avec <i class="fa-solid fa-heart text-danger"></i> par le team INOVMEMBER.
		</p>
		<p class="mb-0 text-end">
                <a href="{{ path('legal_mentions') }}">Mentions légales</a>
        </p>
	</div>
</footer>
