{% extends 'base.html.twig' %}

{% block title %}New Plan{% endblock %}

{% block body %}
    <h1>Chiffrez un plan de construction</h1>

    <p> et c'est la qu'il faut utiliser l'algo </p>

    {{ include('plan/_form.html.twig') }}

    <a href="{{ path('app_plan_index') }}">back to list</a>
{% endblock %}
